.env
.env.example
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/upgrade-temp-backup/
wp-content/themes/twentytwentyfour/
wp-content/themes/twentytwentythree/
wp-content/ewww/
wp-content/languages/
*.log
.DS_Store
