# ルート直下はすべて無視（ホワイトリスト）
*

!.gitignore
!docker-compose.yml
!wp-content/
!wp-content/**

.env
.env.example
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/upgrade-temp-backup/
wp-content/themes/twentytwentyfour/
wp-content/themes/twentytwentythree/
wp-content/ewww/
wp-content/languages/
*.log
.DS_Store
