<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:shortcode -->
	[ivory-search id="5" title="Custom Search Form"]
	<!-- /wp:shortcode -->
	<div class="searchBtn">
		<button class="btns" value="tough">tough</button>
		<button class="btns" value="03">03</button>
		<button class="btns" value="高校鉄拳伝">高校鉄拳伝</button>
		<button class="btns" value="タフ">タフ</button>
		<button class="btns" value="しゃあっ">しゃあっ</button>
	</div>
	<!-- wp:query-title {"type":"search"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/hidden-search"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/template-query-loop"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/more-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
